@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: "Roboto", sans-serif;
  background-color: #181A20;
  margin: 0 auto;
  color: #D6DCEC;
  font-weight: 600;
}

/* body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #4646464D;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #464646CC;
  border-radius: 4px;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border: none;
  background: transparent;
  color: #D6DCEC;
  font-weight: 600;
}

mark {
  background: radial-gradient(circle at center, #FFD26D, #FFB81A);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}
