name: React deploy test

on:
    push:
        branches:
            - main
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:    
            -   name: Clone repository
                uses: actions/checkout@v3

            -   name: Setup Node
                uses: actions/setup-node@v3
                with: 
                    node-version: 20

            -   name: Install dependencies
                run: npm install

            -   name: Build React app
                run: npm run build

            -   name: Cpoy build to server
                uses: appleboy/scp-action@v0.1.3
                with: 
                    host: ${{ secrets.SERVER_IP }}
                    username: ${{ secrets.SERVER_USER }}
                    key: ${{ secrets.SERVER_SSH_KEY }}
                    port: 22
                    source: dist/
                    target: /var/www/grambee
                    strip_components: 1
                    fingerprint: ""
                    script: sudo systemctl restart apache2